<header>
  <div class="header-title">アニメリスト</div>
  <div class="header-menu">メニュー</div>
  
</header>
<div class="wrapper">
  <div class="left-part">
    <%= link_to "リスト作成", new_list_path %>
    <p>フォロー</p>
    <p>友達検索</p>
    <p>ランキング</p>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>

  <div class="list-create">
    <%= form_with model: @list, local: true do |f| %>
      <p>リスト名</p><%= f.text_field :name %>
      <p>公開 or 非公開</p><%= f.collection_select(:public_id, Public.all, :id, :name, {} ) %>
      <%= f.submit '作成'%>
    <% end %>
  </div>


  <div class="right-part">
    <div class="my-page-title">○○さんのマイページ</div>
    <div class="my-lists">
      <div class="my-list">
        <div class="list-name">マイベスト</div>
        <div class="list-animes">
          <div class="list-anime">
            ジョジョの奇妙な冒険
            戦闘系
            100点
            面白い
          </div>
          <div class="list-anime">
            ワンピース
            戦闘系
            100点
            面白い
          </div>
        </div>
      </div>
      <div class="my-list">
        <div class="list-name">見たいアニメリスト</div>
        <div class="list-animes">
          <div class="list-anime">
            鬼滅の刃
            -系
            -点
            友人から紹介された
          </div>
        </div>
      </div>
    </div>
  </div>
</div>