<header>
  <div class="header-title">アニメリスト</div>
  
</header>
<div class="wrapper">
  <div class="left-part" id="left-part">
    <p>ご自身のID: <%= current_user.public_uid %></p>
    <p>リスト</p>
    <div class="left-part-list-index">
      <div><%= link_to "+リスト作成", new_list_path %></div>
      <% @lists.each do |list| %>
        <div><%= link_to list.name, list_animes_path(anchor: "#{list.id}-position", list_id: list.id) %></div>
      <% end%>
    </div>
    <p>フォロー</p>
    <% if @follows.present?%>
      <div class="left-part-follow-index">
        <% @follows.each do |follow| %>
          <%= link_to User.find(follow.friend_id).nickname, new_follow_path(user_id: follow.friend_id) %>
        <% end%>
      </div>
    <% end %>
    <%= form_with url:search_list_animes_path(list_id: 1), local: true, method: :get do |f| %>
      <p>友達検索</p>
      <%= f.text_field :public_uid, placeholder:"友達のIDを入力" %>
      <%= f.submit "検索"%>
    <% end %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>
  <div class="second-left-part">
    <%= form_with model: @list, local: true do |f| %>
      <%= render "shared/error_messages", model: f.object %>
      <p>リスト名</p><%= f.text_field :name %>
      <p>公開 or 非公開</p><%= f.collection_select(:public_id, Public.all, :id, :name, {} ) %>
      <%= f.submit '作成' %>
    <% end %>
  </div>
  <div class="right-part">
    <div class="my-page-title"><%= @user.nickname %>さんのマイページ</div>
    <div class="right-part-without-title">
      <% @lists.each do |list| %>
        <div class="my-lists">
          <table class="anime-list" id="<%=list.id%>-position">
            <tr>
              <th colspan="4" class="th-list-name"><%= link_to list.name, edit_list_path(list.id) %></th>
            </tr>
            <%= render partial:"shared/table_content", locals: {list: list} %>
          </table>
          <%= link_to image_tag("plus.png"), new_list_anime_path(list.id) %>
        </div>
      <% end %>
      <div class="end-page-space">
      </div>
    </div>
  </div>
</div>