<header>
  <div class="header-title">アニメリスト</div>
  <div class="header-menu"><%= link_to "マイページに戻る", root_path %></div>
</header>
<div class="wrapper">
  <div class="left-part" id="left-part">
    <p>ご自身のID: <%= current_user.public_uid %></p>
    <p>リスト</p>
    <div class="left-part-list-index">
      <div><%= link_to "+リスト作成", new_list_path %></div>
      <% @lists.each do |list| %>
        <div><%= link_to list.name, list_animes_path(anchor: "#{list.id}-position", list_id: list.id) %></div>
      <% end%>
    </div>
    <p>フォロー</p>
    <% if @follows.present?%>
      <div class="left-part-follow-index">
        <% @follows.each do |follow| %>
          <div><%= link_to User.find(follow.friend_id).nickname, new_follow_path(user_id: follow.friend_id) %></div>
        <% end%>
      </div>
    <% end %>
    <%= form_with url:search_list_animes_path(list_id: 1), local: true, method: :get do |f| %>
      <p>友達検索</p>
      <div class="search-form">
        <%= f.text_field :public_uid, placeholder:"友達のIDを入力", class:"search-public-uid-form" %>
        <%= f.submit "検索", class:"search-submit" %>
      </div>
    <% end %>
    <%= form_with url: search_lists_path, method: :get, local: true do |f| %>
      <p>放送アニメ検索（2014 ~ 2020年）</p>
      <div class="search-form">
        <%= f.select :year, [["2014", 2014],["2015", 2015],["2016", 2016],["2017", 2017],["2018", 2018],["2019", 2019],["2020", 2020]], {}, {class:"search-year-form"} %>
        <%= f.submit "検索", class:"search-submit" %>
      </div>
    <% end %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>
  
  <div class="right-part">
    <div class="my-page-title"><%= @year %>年の放送アニメ一覧</div>
    <div class="right-part-without-title">
      <div class="my-lists">
        <table class="anime-list">
          <% @broadcast_animes.each do |broadcast_anime| %>
            <tr><td><%= broadcast_anime %></td></tr>
          <% end %>
        </table>
      </div>
      <div class="end-page-space">
      </div>
    </div>
  </div>
</div>