<div class="log-in-page">
  <div class="log-in-left">
    <div class="log-in-left-content">
      <ul>
        <li><%= image_tag "human.png" %><p>自己紹介の時</p></li>
        <li><%= image_tag "event.png" %><p>不意にアニメの話になった時</p></li>
        <li><%= image_tag "love.png" %><p>アニメに興味がある人がいた時</p></li>
      </ul>
      <div class="log-in-left-text">おすすめのアニメを即答できますか？</div>
    </div>
  </div>

  <div class="log-in-right">
    <div class="log-in-right-top">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="log-in-right-top-first">
          <div>
            Eメール<br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div>
            パスワード<br>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= f.submit "ログイン", class:"log-in-btn" %>
          </div>
        </div>

        <div class="log-in-right-top-second">

          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "パスワードをお忘れですか?", new_password_path(resource_name) %><br />
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="log-in-right-lower">
      <div class="log-in-right-lower-content">
        <div class="log-in-right-content-message">アニメをリスト化しよう</div>
        <div class="make-account">
          <p>アニメリストを始める</p>
          <div class="registration-btn">
            <%= link_to "アカウント作成", new_registration_path(resource_name) %>
          </div>
        </div>
      </div>
    </div>
    
  </div>

</div>
