<header>
  <div class="header-title">アニメリスト</div>
  
</header>
<div class="wrapper">
  <div class="left-part">
    <%= link_to "リスト作成", new_list_path %>
    <p>フォロー</p>
    <p>友達検索</p>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>
  <div class="right-part">
    <div class="anime-form">
      <div class="anime-form-edit-delete">
        <div class="anime-form-edit">
        </div>
        <div class="anime-form-delete">
        </div>
      </div>
      <%= form_with model: [@list,@anime], url: list_anime_path(@list.id), local: true do |f| %>
        <%= render "shared/error_messages", model: f.object %>
        <%= f.number_field :list_id, value: @list.id, class:"hidden" %>
        <div><p>タイトル</p><%= f.text_field :name, class:"anime-form-name", autofocus: true %></div>
        <div><p>ジャンル</p><br><%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, class:"anime-form-genre") %></div>
        <div><p>評価点</p><br><%= f.number_field :score, class:"anime-form-score" %></div>
        <div><p>メモ</p><br><%= f.text_area :memo, size:"50x10", class:"anime-form-memo" %></div>
        <div><p>画像</p><%= f.file_field :image, class:"anime-form-image", accept:"image/png,image/jpeg,application/pdf" %></div>
        <div><%= f.submit '保存', class:"anime-form-submit" %></div>
      <% end %>
    </div>
  </div>
</div>