<header>
  <div class="header-title">アニメリスト</div>
  <div class="header-menu">メニュー</div>
  
</header>
<div class="wrapper">
  <div class="left-part">
    <%= link_to "リスト作成", new_list_path %>
    <p>フォロー</p>
    <p>友達検索</p>
    <p>ランキング</p>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>
  <div class="right-part">
    <div class="anime-form">
      <p>アニメ入力</p>
      <% @lists.each do |list| %>
        <%= form_with model: [@list,@anime], url: list_animes_path(list.id), local: true do |f| %>
          <%= render "shared/error_messages", model: f.object %>
          <% f.number_field :list_id, value: list.id %>
          <div><%= f.label :name, 'タイトル' %><br><%= f.text_field :name, class:"anime-form-name" %></div>
          <div><%= f.label :genre, 'ジャンル' %><br><%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, class:"anime-form-genre") %></div>
          <div><%= f.label :score, '評価点' %><br><%= f.number_field :score, class:"anime-form-stock" %></div>
          <div class="image-form"><label><%= image_tag "image_icon.png" %><%= f.file_field :image, class:"anime-form-image", class:"hidden", accept:"image/png,image/jpeg,application/pdf" %></label></div>
          <div><%= f.label :memo, 'メモ' %><br><%= f.text_area :memo, size:"50x10", class:"anime-form-memo" %></div>
          <div><%= f.submit '保存', class:"anime-form-submit" %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>