<header>
  <div class="header-title">アニメリスト</div>
  <div class="header-menu">メニュー</div>
  
</header>
<div class="wrapper">
  <div class="left-part">
    <p>ID: <%= current_user.public_uid %></p>
    <%= link_to "リスト作成", new_list_path %>
    <p>フォロー</p>
    <div>
      <% @follows.each do |follow| %>
        <%= link_to User.find(follow.friend_id).nickname, new_follow_path(user_id: @friend_user.id) %>
      <% end%>
    </div>
    <p>友達検索</p>
    <%= link_to @friend_user.nickname, new_follow_path(user_id: @friend_user.id) %>
    <p>ランキング</p>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>
  <div class="right-part">
    <div class="my-page-title"><%= @user.nickname %>さんのマイページ</div>
    <div class="my-lists">
      <% @lists.each do |list| %>
        <table class="anime-lists">
          <tr>
            <th colspan="4"><%= list.name %></th>
            <%= link_to '+', new_list_anime_path(list.id) %>
          </tr>
          <tr>
            <th>タイトル名(必須)</th>
            <th>ジャンル(任意)</th>
            <th>評価点(任意)</th>
            <th>メモ(任意)</th>
          </tr>
          <% Anime.where(list_id: list.id).each do |anime| %>
            <div class="anime-list">
              <tr>
                <td><%= anime.name %></td>
                <td><%= anime.genre.name %></td>
                <td><%= anime.score %></td>
                <td><%= anime.memo %></td>
              </tr>
            </div>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>