<header>
  <div class="header-title">アニメリスト</div>
  <div class="header-menu"><%= link_to "マイページに戻る", root_path %></div>
</header>

<div class="wrapper">
  <div class="right-part">
    <div class="my-page-title">
      <div class="my-page-title-user"><%= @friend_user.nickname %>さんのリスト</div>
      <div class="my-page-title-follow">
        <% if @follows.find_by(friend_id: @friend_user.id).present? %>
          <span class="title-follow-display">フォロー中<span>
        <% else %>
          <%= form_with model: @follow, url: follows_path, local: true do |f| %>
            <%= f.number_field :user_id, value: current_user.id, class:"hidden" %>
            <%= f.number_field :friend_id, value: @friend_user.id, class:"hidden" %>
            <%= f.submit "フォローする", class: "follow-submit" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="right-part-without-title">
      <% @friend_lists.each do |list| %>
        <div class="my-lists">
          <table class="anime-list">
            <tr>
              <th colspan="4"><%= list.name %></th>
            </tr>
            <%= render partial:"shared/table_content", locals: {list: list} %>
          </table>
        </div>
      <% end %>
      <div class="end-page-space">
      </div>
    </div>
  </div>
</div>